In [130]:
import pandas as pd
ds=pd.read_csv("winedatafinal(withnullvalues).csv")

In [131]:
ds.head()

,Malic Acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid,phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline,Alcohol
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,NaN,5.64,1.04,3.92,1065,1
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,1
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,1
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,1
4,13.24,2.59,2.87,NaN,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,1

In [132]:
ds.isnull().sum()

Malic Acid                      0
Ash                             0
Alcalinity of ash               2
Magnesium                       1
Total phenols                   0
Flavanoids                      3
Nonflavanoid                    2
phenols                         0
Proanthocyanins                 6
Color intensity                 0
Hue                             1
OD280/OD315 of diluted wines    0
Proline                         0
Alcohol                         0
dtype: int64

In [133]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Malic Acid                    178 non-null    float64
 1   Ash                           178 non-null    float64
 2   Alcalinity of ash             176 non-null    float64
 3   Magnesium                     177 non-null    float64
 4   Total phenols                 178 non-null    int64
 5   Flavanoids                    175 non-null    float64
 6   Nonflavanoid                  176 non-null    float64
 7   phenols                       178 non-null    float64
 8   Proanthocyanins               172 non-null    float64
 9   Color intensity               178 non-null    float64
 10  Hue                           177 non-null    float64
 11  OD280/OD315 of diluted wines  178 non-null    float64
 12  Proline                       178 non-null    int64
 13  Alcohol                       178 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 19.6 KB

In [134]:
ds.isnull().sum()

Malic Acid                      0
Ash                             0
Alcalinity of ash               2
Magnesium                       1
Total phenols                   0
Flavanoids                      3
Nonflavanoid                    2
phenols                         0
Proanthocyanins                 6
Color intensity                 0
Hue                             1
OD280/OD315 of diluted wines    0
Proline                         0
Alcohol                         0
dtype: int64

In [135]:
ds

,Malic Acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid,phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline,Alcohol
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,NaN,5.64,1.04,3.92,1065,1
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,1
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,1
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,1
4,13.24,2.59,2.87,NaN,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,3
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,3
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,3
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,3
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,NaN,9.20,0.61,1.60,560,3

In [136]:
ds.isnull().sum()

Malic Acid                      0
Ash                             0
Alcalinity of ash               2
Magnesium                       1
Total phenols                   0
Flavanoids                      3
Nonflavanoid                    2
phenols                         0
Proanthocyanins                 6
Color intensity                 0
Hue                             1
OD280/OD315 of diluted wines    0
Proline                         0
Alcohol                         0
dtype: int64

In [137]:

ds["Alcalinity of ash"] = ds.fillna("unknown")
ds["Magnesium"] = ds.fillna("unknown")
ds["Flavanoids"] = ds.fillna("unknown")
ds["Proanthocyanins"] = ds.fillna("unknown")
ds["Hue"] = ds.fillna("unknown")
ds["Nonflavanoid "] = ds.fillna("unknown")

In [138]:
ds.isnull().sum()

Malic Acid                      0
Ash                             0
Alcalinity of ash               0
Magnesium                       0
Total phenols                   0
Flavanoids                      0
Nonflavanoid                    0
phenols                         0
Proanthocyanins                 0
Color intensity                 0
Hue                             0
OD280/OD315 of diluted wines    0
Proline                         0
Alcohol                         0
dtype: int64

In [139]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Malic Acid                    178 non-null    float64
 1   Ash                           178 non-null    float64
 2   Alcalinity of ash             178 non-null    object
 3   Magnesium                     178 non-null    object
 4   Total phenols                 178 non-null    int64
 5   Flavanoids                    178 non-null    object
 6   Nonflavanoid                  178 non-null    object
 7   phenols                       178 non-null    float64
 8   Proanthocyanins               178 non-null    object
 9   Color intensity               178 non-null    float64
 10  Hue                           178 non-null    object
 11  OD280/OD315 of diluted wines  178 non-null    float64
 12  Proline                       178 non-null    int64
 13  Alcohol                       178 non-null    int64
dtypes: float64(5), int64(3), object(6)
memory usage: 19.6+ KB

In [140]:
ds["Alcalinity of ash"] = pd.to_numeric(ds["Alcalinity of ash"],errors='coerce')
ds["Magnesium"] = pd.to_numeric(ds["Magnesium"],errors='coerce')
ds["Nonflavanoid "] = pd.to_numeric(ds["Nonflavanoid "],errors='coerce')
ds["Flavanoids"] = pd.to_numeric(ds["Flavanoids"],errors='coerce')
ds["Proanthocyanins"] = pd.to_numeric(ds["Proanthocyanins"],errors='coerce')
ds["Hue"] = pd.to_numeric(ds["Hue"],errors='coerce')

In [141]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Malic Acid                    178 non-null    float64
 1   Ash                           178 non-null    float64
 2   Alcalinity of ash             178 non-null    float64
 3   Magnesium                     178 non-null    float64
 4   Total phenols                 178 non-null    int64
 5   Flavanoids                    178 non-null    float64
 6   Nonflavanoid                  178 non-null    float64
 7   phenols                       178 non-null    float64
 8   Proanthocyanins               178 non-null    float64
 9   Color intensity               178 non-null    float64
 10  Hue                           178 non-null    float64
 11  OD280/OD315 of diluted wines  178 non-null    float64
 12  Proline                       178 non-null    int64
 13  Alcohol                       178 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 19.6 KB

In [142]:
ds.head()

,Malic Acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid,phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline,Alcohol
0,14.23,1.71,14.23,14.23,127,14.23,14.23,0.28,14.23,5.64,14.23,3.92,1065,1
1,13.20,1.78,13.20,13.20,100,13.20,13.20,0.26,13.20,4.38,13.20,3.40,1050,1
2,13.16,2.36,13.16,13.16,101,13.16,13.16,0.30,13.16,5.68,13.16,3.17,1185,1
3,14.37,1.95,14.37,14.37,113,14.37,14.37,0.24,14.37,7.80,14.37,3.45,1480,1
4,13.24,2.59,13.24,13.24,118,13.24,13.24,0.39,13.24,4.32,13.24,2.93,735,1

In [143]:
df_x = ds.iloc[:, :-1].values
df_y = ds.iloc[:, 13].values

In [144]:
df_x

array([[  14.23,    1.71,   14.23, ...,   14.23,    3.92, 1065.  ],
       [  13.2 ,    1.78,   13.2 , ...,   13.2 ,    3.4 , 1050.  ],
       [  13.16,    2.36,   13.16, ...,   13.16,    3.17, 1185.  ],
       ...,
       [  13.27,    4.28,   13.27, ...,   13.27,    1.56,  835.  ],
       [  13.17,    2.59,   13.17, ...,   13.17,    1.62,  840.  ],
       [  14.13,    4.1 ,   14.13, ...,   14.13,    1.6 ,  560.  ]])

In [145]:
df_y

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3], dtype=int64)

In [146]:
attributes=df_x
print(attributes)

[[  14.23    1.71   14.23 ...   14.23    3.92 1065.  ]
 [  13.2     1.78   13.2  ...   13.2     3.4  1050.  ]
 [  13.16    2.36   13.16 ...   13.16    3.17 1185.  ]
 ...
 [  13.27    4.28   13.27 ...   13.27    1.56  835.  ]
 [  13.17    2.59   13.17 ...   13.17    1.62  840.  ]
 [  14.13    4.1    14.13 ...   14.13    1.6   560.  ]]

In [147]:
label=df_y
print(label)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3]

In [148]:


from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [149]:
X_train,X_test,y_train,y_test = train_test_split(attributes,label,test_size=0.30)

In [152]:

classifier=KNeighborsClassifier(n_neighbors=4)
classifier.fit(X_train,y_train)
y_predict = classifier.predict(X_test)

In [153]:
print(y_test)

[3 1 2 2 2 2 1 1 1 2 1 3 3 1 3 1 1 1 2 1 2 2 3 2 1 1 1 1 3 1 1 2 2 1 1 2 2
 2 1 2 1 2 3 2 1 3 3 2 1 3 3 2 2 3]

In [154]:


print(y_predict)

[2 1 2 1 1 2 1 1 1 2 1 2 2 3 2 1 1 1 2 1 2 2 2 2 1 1 1 1 2 3 1 2 2 1 1 3 2
 2 1 3 1 2 3 2 1 2 2 2 1 2 2 3 1 3]

In [173]:
df = pd.read_csv('Details.csv',encoding="ISO-8859-1")

In [174]:
df.shape

(13149, 6)

In [175]:
df.describe()

          is_hybrid
count  13149.000000
mean       0.131949
std        0.338448
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

In [176]:
df.head()

,issn,journal_name,pub_name,is_hybrid,category,url
0,0001-527X,Acta Biochimica Polonica,ACTA BIOCHIMICA POLONICA,0,MOLECULAR AND CELL BIOLOGY,NaN
1,0002-0397,Africa Spectrum,NaN,0,NaN,NaN
2,0003-0090,Bulletin of the American Museum of Natural His...,AMER MUSEUM NATURAL HISTORY,0,ECOLOGY AND EVOLUTION,NaN
3,0003-5521,L'anthropologie,Elsevier,1,Anthropology,NaN
4,0004-1254,Arhiv Za Higijenu Rada I Toksikologiju-Archive...,NaN,0,NaN,NaN

In [177]:
df.isnull().sum()

issn               0
journal_name       0
pub_name        1470
is_hybrid          0
category        6331
url             6788
dtype: int64

In [178]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13149 entries, 0 to 13148
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   issn          13149 non-null  object
 1   journal_name  13149 non-null  object
 2   pub_name      11679 non-null  object
 3   is_hybrid     13149 non-null  int64
 4   category      6818 non-null   object
 5   url           6361 non-null   object
dtypes: int64(1), object(5)
memory usage: 616.5+ KB

In [179]:

df.pub_name = df.fillna("unknown")
df.category= df.fillna("unknown")
df.url = df.fillna("unknown")

In [180]:
df.isnull().sum()

issn            0
journal_name    0
pub_name        0
is_hybrid       0
category        0
url             0
dtype: int64

In [181]:
df.head()

,issn,journal_name,pub_name,is_hybrid,category,url
0,0001-527X,Acta Biochimica Polonica,0001-527X,0,0001-527X,0001-527X
1,0002-0397,Africa Spectrum,0002-0397,0,0002-0397,0002-0397
2,0003-0090,Bulletin of the American Museum of Natural His...,0003-0090,0,0003-0090,0003-0090
3,0003-5521,L'anthropologie,0003-5521,1,0003-5521,0003-5521
4,0004-1254,Arhiv Za Higijenu Rada I Toksikologiju-Archive...,0004-1254,0,0004-1254,0004-1254

In [182]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13149 entries, 0 to 13148
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   issn          13149 non-null  object
 1   journal_name  13149 non-null  object
 2   pub_name      13149 non-null  object
 3   is_hybrid     13149 non-null  int64
 4   category      13149 non-null  object
 5   url           13149 non-null  object
dtypes: int64(1), object(5)
memory usage: 616.5+ KB

In [184]:
df["issn"] = pd.to_numeric(df["issn"],errors='coerce')

In [185]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13149 entries, 0 to 13148
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   issn          0 non-null      float64
 1   journal_name  13149 non-null  object
 2   pub_name      13149 non-null  object
 3   is_hybrid     13149 non-null  int64
 4   category      13149 non-null  object
 5   url           13149 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 616.5+ KB

In [186]:
df.head()

,issn,journal_name,pub_name,is_hybrid,category,url
0,NaN,Acta Biochimica Polonica,0001-527X,0,0001-527X,0001-527X
1,NaN,Africa Spectrum,0002-0397,0,0002-0397,0002-0397
2,NaN,Bulletin of the American Museum of Natural His...,0003-0090,0,0003-0090,0003-0090
3,NaN,L'anthropologie,0003-5521,1,0003-5521,0003-5521
4,NaN,Arhiv Za Higijenu Rada I Toksikologiju-Archive...,0004-1254,0,0004-1254,0004-1254